ENV=development
SERVER_BOOT_PATH=deployment/staging/server/boot-staging.yaml

JWT_SECRET=salt-and-papper

POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_DBNAME=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=
